<div class="navbar">
  <div class="left">
    <div class="logo">Le Bacha</div>
    <div class="links">
      <%= yield %>
    </div>
  </div>
  <div class="right">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <span>+33 (0)6 80 85 78 44</span>
  </div>
</div>
