<div class="footer">
  <div class="row justify-content-between">
    <div class="col-xs-12 col-md-3">
      <p>
        <span class="h3">Chalet Le Bacha</span><br>
        Ville Basse, 05100 Névache<br>
      </p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>
        Location de charme 10 personnes<br>
        au coeur de la vallée de la Clarée.<br>
      </p>
    </div>
    <div class="col-xs-12 col-md-3">
      Laurence de Surirey<br>
      tel: +33 (0)6 80 85 78 44<br>
      dldesurirey(at)gmail.com<br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <p class="madeby">
        2018 Tous droits réservés. Fait avec <i class="fa fa-heart"></i> par <a href="https://www.twitter.com/adesurirey" target="_blank">@adesurirey</a>
      </p>
    </div>
  </div>
</div>
