.footer {
  height: 200px;
  padding: 80px 5.5rem;
  color: #666;
}

.madeby {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #e3e3e3;
  text-align: center;
  padding-top: 60px;
}
.madeby  a {
  color: #e3e3e3;
}
.madeby  a:hover, a:active {
  color: #666;
}
