.footer {
  height: 200px;
  padding: 80px 5.5rem;
  color: #666;
}
.footer .h3 {
  color: #222529;
}

.madeby {
  color: #e3e3e3;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 30px;
}
.madeby  a {
  color: #e3e3e3;
}
.madeby  a:hover, a:active {
  color: #666;
}

@media only screen
and (max-width: 700px)  {
  .footer {
    padding: 80px 2rem;
  }

  .madeby:first-child {
    padding-top: 20px;
  }
  .madeby:last-child {
    padding-bottom: 30px;
  }
  .madeby {
    padding-top: 0;
    padding-bottom: 0;
  }
}
