.section {
  padding: 76px 0;
}
.section:nth-of-type(odd) {
  background: #fafbfc;
}
.section:nth-of-type(even) {
  background-color: #f7f5f2;
}

.section .h1 {
  margin-bottom: 52px;
}

:target {
  padding-top: 100px;
}
