.section {
  padding: 100px 15px;
}
.section:nth-of-type(odd) {
  background: #fafbfc;
}
.section:nth-of-type(even) {
  background-color: #f7f5f2;
}

.section .h1 {
  margin-bottom: 52px;
}

.section p {
  color: #666;
}

.section p:empty {
  display: none;
}

ul.intext {
  margin-bottom: 3rem;
  color: #666;
}

.btn.intext {
  margin-top: 1rem;
}
