<div class="nested-fields">
  <%= f.input :text,
      label: false,
      placeholder: "Point à mettre en valeur" %>
  <%= link_to_remove_association "Supprimer", f %>
</div>
<div class="mb-3"></div>
