[data-scrolldir="down"] .galery {
  top: 0;
}
[data-scrolldir="up"] .galery {
  top: 80px;
}

.galery {
  position: sticky;
  top: 0;
  transition: all .3s ease;
}

.lightbox .lb-outerContainer {
  background: transparent;
}
.lightbox .lb-image {
  border: 4px solid transparent;
}
