<div class="col-xs-10 col-sm-10">
  <div class="features">
    <ul class="list-unstyled">
      <% features.each do |feature| %>
        <%= c("feature", feature: feature) %>
      <% end %>
    </ul>
  </div>
</div>
