#section_title {
  font-size: 2em;
  font-family: 'Abril Fatface', cursive;
}
#section_position {
  width: 10%;
}
#section_text {
  min-height: 50vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.section_photos input {
  display: none;
}
.section_photos label {
  cursor: pointer;
  color: #3b6161;
  font-weight: bold;
}
.section_photos label:hover {
  color: darkslategrey;
}


.tips {
  position: relative;
  margin-top: 100px;
  padding: 40px;
  border: 1px solid #ced4da;
}
