@import "normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

.btn-primary {
  padding: 12px 24px;
  background-color: #ceaa75;
  border-radius: 0px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #dbbc8f;
}
