.banner {
  position: relative;
  padding: 66px 76px;
  color: white;
  text-align: center;
  height: calc(100vh - 76px);
  background-image: url("./images/bacha.jpg");
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
}
