.banner {
  position: relative;
  padding: 66px 76px;
  color: white;
  text-align: center;
  height: calc(100vh - 76px);
  background-image: linear-gradient(0deg, rgba(250, 251, 252, 1) 0%, rgba(250, 251, 252, 0.5) 15%, transparent 40%), url("./images/bacha.jpg");
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

@media only screen
  and (max-width: 1024px) {
  .banner {
    align-items: center;
    justify-content: center;
  }
}
