.page,
.page-admin {
  margin: 0;
}

.page {
  padding-top: 76px;
}

.page-admin {
  padding-top: 120px;
  background-color: #f7f5f2;
  min-height: 100vh;
  padding-bottom: 80px;
}

.page .container-fluid {
  padding: 0;
}
